In [10]:
import numpy as np
import pandas as pd

### PANDAS SERIES

**Series are Pandas data structures built on top of NumPy arrays**
* Series also contain an index and an optional name, in addition to the array of data
* They can be created from other data types, but are usually imported from external sources
* Two or more Series grouped together form a Pandas DataFrame

In [11]:
sales = [0, 5, 155, 0, 518, 9, 1827, 616,317, 325]
sales_series = pd.Series(sales, name="Sales")
sales_series

0       0
1       5
2     155
3       0
4     518
5       9
6    1827
7     616
8     317
9     325
Name: Sales, dtype: int64

### Pandas Series have these key properties:
* values – the data array in the Series
* index – the index array in the Series
* name – the optional name for the Series (useful for accessing columns in a DataFrame)
* dtype – the data type of the elements in the values array

In [12]:
sales_series.values

array([   0,    5,  155,    0,  518,    9, 1827,  616,  317,  325])

In [13]:
sales_series.index

RangeIndex(start=0, stop=10, step=1)

In [14]:
sales_series.name

'Sales'

In [15]:
sales_series.dtype

dtype('int64')

You can convert the data type in a Pandas Series by using the .astype() method and specifying the desired data type (if compatible)

In [16]:
sales_series.astype("bool")

0    False
1     True
2     True
3    False
4     True
5     True
6     True
7     True
8     True
9     True
Name: Sales, dtype: bool

In [17]:
sales_series.astype("float")

0       0.0
1       5.0
2     155.0
3       0.0
4     518.0
5       9.0
6    1827.0
7     616.0
8     317.0
9     325.0
Name: Sales, dtype: float64

# Assignment 1: Series Basics

The code has been previded to create an array, `oil_array` from a dataframe column. 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [18]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("./oil.csv").dropna()
#  pd.to_csv

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [19]:
# convert oil_array to a series
oil_series = pd.Series(oil_array, name="oil_prices")
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_prices, Length: 100, dtype: float64

In [20]:
oil_series.name

'oil_prices'

In [21]:
oil_series.dtype

dtype('float64')

In [22]:
oil_series.size

100

In [23]:
oil_series.index

RangeIndex(start=0, stop=100, step=1)

In [24]:
oil_series.mean()

51.128299999999996

In [25]:
oil_series.astype("int").mean()

50.66

In [26]:
oil_series.astype("int")

0     52
1     51
2     51
3     52
4     52
      ..
95    45
96    47
97    47
98    47
99    48
Name: oil_prices, Length: 100, dtype: int64

The index lets you easily access “rows” in a Pandas Series or DataFrame¶

In [27]:
sales_series

0       0
1       5
2     155
3       0
4     518
5       9
6    1827
7     616
8     317
9     325
Name: Sales, dtype: int64

In [28]:
sales_series[2]

155

In [29]:
sales_series[2:4]

2    155
3      0
Name: Sales, dtype: int64

#### There are cases where it’s applicable to use a custom index for accessing rows

In [30]:
items = ["coffee","bananas", "tea", "coconut", "sugar"]
sales_items = sales_series[:5]
sales_items

0      0
1      5
2    155
3      0
4    518
Name: Sales, dtype: int64

In [31]:
# pd_sales = pd.Series(sales_items, index=items, name="Sales_Item")
sales_items.index = items
sales_items

coffee       0
bananas      5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [32]:
sales_items["tea"]

155

In [33]:
sales_items["bananas":"coconut"]

bananas      5
tea        155
coconut      0
Name: Sales, dtype: int64

### THE ILOC METHOD

The **.iloc[]** method is the preferred way to access values by their positional index
* This method works even when Series have a custom, non-integer index
* It is more efficient than slicing and is recommended by Pandas’ creators

#### df.iloc[row position, column position]

In [34]:
sales_items.iloc[2]

155

In [35]:
sales_items.iloc[3:5]

coconut      0
sugar      518
Name: Sales, dtype: int64

In [36]:
sales_items.loc["tea"]

155

In [37]:
sales_items.loc["bananas":"sugar"]

bananas      5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

### DUPLICATE INDEX VALUES

In [38]:
items = ["coffee","coffee", "tea", "coconut", "sugar"]

In [39]:
sales_items.index = items
sales_items

coffee       0
coffee       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [40]:
sales_items["coffee"]

coffee    0
coffee    5
Name: Sales, dtype: int64

### RESETTING THE INDEX

In [41]:
sales_items.reset_index()

     index  Sales
0   coffee      0
1   coffee      5
2      tea    155
3  coconut      0
4    sugar    518

In [42]:
sales_items.reset_index(drop=True)

0      0
1      5
2    155
3      0
4    518
Name: Sales, dtype: int64

# Assignment 2:  Accessing Series Data

* Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.


* Then, take the mean of the first 10 and last 10 prices of the series.


* Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [43]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("./oil.csv").dropna()
oil

            date  dcoilwtico
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
5     2013-01-08       93.21
...          ...         ...
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1175 rows x 2 columns]

In [44]:
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_prices, Length: 100, dtype: float64

In [45]:
# extract date column from oil DataFrame and grab first 100 rows
dates = pd.Series(oil["date"]).iloc[1000:1100]
dates

1035    2016-12-20
1036    2016-12-21
1037    2016-12-22
1038    2016-12-23
1040    2016-12-27
           ...
1135    2017-05-09
1136    2017-05-10
1137    2017-05-11
1138    2017-05-12
1139    2017-05-15
Name: date, Length: 100, dtype: object

In [46]:
oil_series.index = dates
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [47]:
# Mean of first 10 prices 
oil_series.iloc[:10].mean()

52.765

In [48]:
# Mean of last 10 prices
oil_series.iloc[-10:].mean()

47.13

In [49]:
# Slice labels using loc, reset index and drop dates to return series w/ integer index
oil_series.loc["2017-01-01":"2017-01-07"].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: oil_prices, dtype: float64

### FILTERING SERIES

In [50]:
sales = [0, 5, 155, 0, 518, 9, 1827, 616,317, 325]
sales_series = pd.Series(sales, name="Sales")
sales_series = sales_series[:5]
sales_series

0      0
1      5
2    155
3      0
4    518
Name: Sales, dtype: int64

In [51]:
sales_series.loc[sales_series > 0]

1      5
2    155
4    518
Name: Sales, dtype: int64

In [52]:
sales_series > 0

0    False
1     True
2     True
3    False
4     True
Name: Sales, dtype: bool

In [53]:
sales_series.index = items
mask = (sales_series > 0) & (sales_series.index == "coffee")
sales_series.loc[mask]

coffee    5
Name: Sales, dtype: int64

### LOGICAL OPERATORS & METHODS

You can use these operators & methods to create Boolean filters for logical tests

* Equal == .eq()
* Not Equal != .ne()
* Less Than or Equal <= .le()
* Less Than < .lt()
* Greater Than or Equal >= .ge()
* Greater Than > .gt()
* Membership Test in .isin()
* Inverse Membership Test not in ~.isin()

In [54]:
sales_series == 5

coffee     False
coffee      True
tea        False
coconut    False
sugar      False
Name: Sales, dtype: bool

In [55]:
sales_series.eq(5)

coffee     False
coffee      True
tea        False
coconut    False
sugar      False
Name: Sales, dtype: bool

In [56]:
sales_series.isin([155,0])

coffee      True
coffee     False
tea         True
coconut     True
sugar      False
Name: Sales, dtype: bool

In [57]:
~sales_series.index.isin(["coffee","tea"])

array([False, False, False,  True,  True])

### SORTING SERIES

In [58]:
sales_series.sort_values(ascending=False)

sugar      518
tea        155
coffee       5
coffee       0
coconut      0
Name: Sales, dtype: int64

In [59]:
sales_series.sort_index(ascending=True)

coconut      0
coffee       0
coffee       5
sugar      518
tea        155
Name: Sales, dtype: int64

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [60]:
# list of dates to be used to solve bullet 3

dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [61]:
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [62]:
# Get 10 lowest prices by grabbing first 10 rows of sorted price series
# Then, sort by index in descending order

In [63]:
oil_series.sort_values().iloc[:10].sort_index(ascending=False)

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: oil_prices, dtype: float64

In [64]:
# Create mask to filter to only dates in list of dates and oil price <= 50
mask = (oil_series.index.isin(dates)) & (oil_series <= 50)
oil_series.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
Name: oil_prices, dtype: float64

### ARITHMETIC OPERATORS & METHODS

You can use these operators & methods to perform numeric operations on Series

* Addition + .add()
* Subtraction - .sub(), .subtract()
* Multiplication * .mul(), .multiply()
* Division / .div(), .truediv(), .divide()
* Floor Division // .floordiv()
* Modulo % .mod()
* Exponentiation ** .pow()

In [65]:
sales_series

coffee       0
coffee       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [66]:
sales_series + 2

coffee       2
coffee       7
tea        157
coconut      2
sugar      520
Name: Sales, dtype: int64

In [67]:
sales_series.add(2)

coffee       2
coffee       7
tea        157
coconut      2
sugar      520
Name: Sales, dtype: int64

In [68]:
sales_series.mul(2)

coffee        0
coffee       10
tea         310
coconut       0
sugar      1036
Name: Sales, dtype: int64

In [69]:
sales_series * 2

coffee        0
coffee       10
tea         310
coconut       0
sugar      1036
Name: Sales, dtype: int64

### STRING METHODS

The Pandas str accessor lets you access many string methods

These methods all return a Series (split returns multiple series)

.strip(), .lstrip(), .rstrip()
* Removes all leading and/or trailing characters (spaces by default)

.upper(), .lower() 
* Converts all characters to upper or lower case

.slice(start:stop:step) 
* Applies a slice to the strings in a Series

.count("string") 
* Counts all instances of a given string

.contains("string") 
* Returns True if a given string is found; False if not

.replace("a", "b") 
* Replaces instances of string "a" with string "b"

.split("delimiter", expand=True) 
* Splits strings based on a given delimiter string, and returns a DataFrame with a Series for each split

.len() 
* Returns the length of each string in a Series

.startswith("string"), .endswith("string")
* Returns True if a string starts or ends with given string; False if not

In [70]:
sales_series

coffee       0
coffee       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [71]:
dollar_sales_series = "$" + sales_series.astype("string")

In [72]:
dollar_sales_series

coffee       $0
coffee       $5
tea        $155
coconut      $0
sugar      $518
Name: Sales, dtype: string

In [73]:
dollar_sales_series.str.count("0") #.astype("float")

coffee     1
coffee     0
tea        0
coconut    1
sugar      0
Name: Sales, dtype: Int64

### Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [74]:
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [75]:
# Multiple oil series values by 1.1 (10% increase), then add 2 to each row
oil_series.mul(1.1).add(2)

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: oil_prices, Length: 100, dtype: float64

In [76]:
oil_series * 1.1 + 2

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: oil_prices, Length: 100, dtype: float64

In [77]:
# Get max price, store in variable
max_price = oil_series.max()
max_price

54.48

In [78]:
# Subtract max price from all rows in oil_series (returns a Series)
(oil_series - max_price) / max_price

date
2016-12-20   -0.041483
2016-12-21   -0.055800
2016-12-22   -0.045888
2016-12-23   -0.045338
2016-12-27   -0.030470
                ...
2017-05-09   -0.158590
2017-05-10   -0.132159
2017-05-11   -0.122430
2017-05-12   -0.122063
2017-05-15   -0.103157
Name: oil_prices, Length: 100, dtype: float64

In [79]:
# Create a series from the index of oil_series
string_dates = pd.Series(oil_series.index)
string_dates

0     2016-12-20
1     2016-12-21
2     2016-12-22
3     2016-12-23
4     2016-12-27
         ...
95    2017-05-09
96    2017-05-10
97    2017-05-11
98    2017-05-12
99    2017-05-15
Name: date, Length: 100, dtype: object

In [80]:
# Slice out month portion of text string and convert to int
string_dates.str[5:7].astype("int")

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int64

In [81]:
pd.Series(oil_series.index).str[5:7].astype("int")

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int64

### NUMERIC SERIES AGGREGATION

You can use these methods to aggregate numerical Series
* .count() Returns the number of items
* .first(), .last() Returns the first or last item
* .mean(), .median() Calculates the mean or median
* .min(), .max() Returns the smallest or largest value
* .argmax(), .argmin() Returns the index for the smallest or largest values
* .std(), .var() Calculates the standard deviation or variance
* .mad() Calculates the mean absolute deviation
* .prod() Calculates the product of all the items
* .sum() Calculates the sum of all the items
* .quantile() Returns a specified percentile, or list of percentiles

In [82]:
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [83]:
oil_series.sum()

5112.83

In [84]:
sales_series

coffee       0
coffee       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [85]:
sales_series.sum()

678

In [86]:
sales_series.loc["coffee"].sum()

5

In [87]:
sales_series.mean()

135.6

In [88]:
sales_series.std()

223.85106655988932

### CATEGORICAL SERIES AGGREGATION

You can use these methods to aggregate categorical Series
* .unique() Returns an array of unique items in a Series
* .nunique() Returns the number of unique items
* .value_counts() Returns a Series of unique items and their frequency

In [89]:
sales_series

coffee       0
coffee       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [90]:
sales_series.unique()

array([  0,   5, 155, 518])

In [91]:
sales_series.nunique()

4

# Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [92]:
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [93]:
# Filter series to March (month 3), calculate sum of prices, and round
oil_series[oil_series.index.str[5:7] == "03"].sum().round()

1135.0

In [94]:
# Filter series to march, calculate mean
oil_series[oil_series.index.str[5:7] == "03"].mean()

49.32782608695651

In [95]:
# Filter series to Jan and Feb, count entries
oil_series[oil_series.index.str[5:7].isin(["01","02"])].count()

39

In [96]:
# Calculate 10th and 90th percentiles of oil series using quantile
oil_series.quantile([0.1,0.9])

0.1    47.299
0.9    53.811
Name: oil_prices, dtype: float64

In [97]:
oil_series.astype("int").value_counts(normalize=True)

oil_prices
53    0.26
52    0.22
47    0.13
48    0.10
51    0.07
50    0.07
49    0.06
54    0.05
45    0.02
46    0.02
Name: proportion, dtype: float64

### MISSING DATA

Missing data in Pandas is often represented by NumPy “NaN” values
* This is more efficient than Python’s “None” data type
* Pandas treats NaN values as a float, which allows them to be used in vectorized operations

In [98]:
sales = [0, 5, 155, np.nan, 518]
my_sales = pd.Series(sales)
my_sales

0      0.0
1      5.0
2    155.0
3      NaN
4    518.0
dtype: float64

In [99]:
my_sales + 2

0      2.0
1      7.0
2    157.0
3      NaN
4    520.0
dtype: float64

In [100]:
my_sales.add(2)

0      2.0
1      7.0
2    157.0
3      NaN
4    520.0
dtype: float64

In [101]:
my_sales.add(2, fill_value=0)

0      2.0
1      7.0
2    157.0
3      2.0
4    520.0
dtype: float64

### Pandas released its own missing data type, NA, in December 2020
* This allows missing values to be stored as integers, instead of needing to convert to float
* This is still a new feature, but most bugs end up converting the data to NumPy’s NaN

In [102]:
sales = [0, 5, 155, pd.NA, 518]
my_sales = pd.Series(sales, dtype="Int16")
my_sales

0       0
1       5
2     155
3    <NA>
4     518
dtype: Int16

In [103]:
my_sales.isna()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [104]:
my_sales.isna().sum()

1

In [105]:
my_sales.value_counts(dropna=False)

0       1
5       1
155     1
518     1
<NA>    1
Name: count, dtype: Int64

In [106]:
my_sales.dropna()

0      0
1      5
2    155
4    518
dtype: Int16

In [107]:
my_sales.fillna(10)

0      0
1      5
2    155
3     10
4    518
dtype: Int16

In [108]:
my_sales

0       0
1       5
2     155
3    <NA>
4     518
dtype: Int16

In [109]:
my_sales.astype("float").fillna(my_sales.mean())

0      0.0
1      5.0
2    155.0
3    169.5
4    518.0
dtype: float64

# Assignment 6: Missing Data

There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column? 

Once you’ve done that, fill the prices in with the median of the oil price series.

In [110]:
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [111]:
# apply method
clean_wholesale = pd.Series([3.99,5.99,22.99,7.99,33.99])
clean_wholesale

0     3.99
1     5.99
2    22.99
3     7.99
4    33.99
dtype: float64

In [112]:
def discount(price):
    if price > 20:
        return round(price * 0.9, 2)
    return price

In [113]:
clean_wholesale.apply(discount)

0     3.99
1     5.99
2    20.69
3     7.99
4    30.59
dtype: float64

In [114]:
# .where(logical test,value if false, inplace=False) 
clean_wholesale.where(clean_wholesale <= 20, round(clean_wholesale * 0.9, 2), inplace=False )

0     3.99
1     5.99
2    20.69
3     7.99
4    30.59
dtype: float64

In [115]:
clean_wholesale.where(~(clean_wholesale > 20), round(clean_wholesale * 0.9, 2), inplace=False )

0     3.99
1     5.99
2    20.69
3     7.99
4    30.59
dtype: float64

In [116]:
(
    clean_wholesale
    .where(~(clean_wholesale > 20), round(clean_wholesale * 0.9, 2), inplace=False )
    .where((clean_wholesale > 10), 0)
)

0     0.00
1     0.00
2    20.69
3     0.00
4    30.59
dtype: float64